body{
    font-family: Arial, sans-serif;
    background-color: #ffe6f2;
    margin:0;
}

#header{
    background-color: pink
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    background-color:pink
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

.profile-pic{
    width:150px;
    border-radius:50%;
    border-color: palevioletred;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:10px;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
}

input,
textarea{
    margin:10px 0;
    padding:10px;
}

button{
    background-color:hotpink;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}

footer{
    background-color:pink
    color:white;
    text-align:center;
    padding:15px;
}